/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(/images/vendor/owl.carousel/dist/owl.video.play.png?4a37f8008959c75f619bf0a3a4e2d7a2) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}@charset "UTF-8";

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: grey;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.section-header a {
  color: white;
}

.logo {
  width: 15px !important;
}

.full-banner-home {
  height: 241px;
  width: 100%;
}

.product2 {
  display: block;
  width: 100%;
  height: 118px;
  padding-right: 0 !important;
  /* padding-top: 5px; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.box-category-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.box-category {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  background-color: #fff;
}

.card-category {
  height: 150px;
  width: 150px;
  display: inline-table;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0 4px 4px 0;
}

.card-category:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-category {
  margin-left: auto;
  width: 76px;
  height: 76px;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}

.card-text {
  margin: 10px 0px;
}

.card img {
  height: 210px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-text {
  text-align: center;
}

.text-a {
  text-align: center;
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  display: block;
}

.text-a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.box-new-product {
  height: 370px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  position: relative;
  background-color: white;
  border-radius: 8px 8px;
}

.box-img-new-product {
  border: 0.5px solid #e9e9e9;
  height: 180px;
  width: 100%;
  border-radius: 5px;
}

.box-text-new-product {
  width: 100%;
  padding: 0.625rem;
}

.box-text-name {
  width: 100%;
  height: 90px;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: black;
}

.product-title:hover {
  color: grey;
}

.box-text-price {
  color: #28a745;
  overflow: hidden;
}

.money {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
}

.box-text-sold {
  position: absolute;
  bottom: 2px;
  right: 0px;
  padding: 0.625rem;
  overflow: hidden;
  font-size: 1rem;
}

.col-md-2 {
  padding-right: 1px !important;
  padding-left: 7px !important;
}

.img-hot {
  width: 66px;
  height: 44px;
  position: absolute;
  top: 5px;
  right: -10px;
}

.img-hot img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.75s;
}

.tag-a {
  color: black;
}

.tag-a:hover {
  color: #7d7d7d;
}

.box-phan-trang {
  margin: auto;
  font-size: 20px;
}

.menu-item:hover {
  color: #f0eded;
}

.icon-header-10 {
  color: white;
}

.border-right-10 {
  border-right: 2px solid rgba(255, 255, 255, 0.22);
}

.searching-button {
  position: relative;
}

.searching-button-10 {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.category-thuonghieu {
  padding-top: 16px;
}

.thuonghieu {
  font-size: 14px;
  color: #212121;
}

.sanpham-thuonghieu {
  margin-top: 10px;
}

.name-product-checkbox {
  display: block !important;
  font-size: 13px;
  color: #757575;
  line-height: 18px;
}

.ant-checkbox {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: text-bottom;
}

.ant-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.ant-checkbox-wrapper {
  cursor: pointer;
  font-size: 13px;
  display: inline-block;
}

.gia-product {
  margin-top: 10px;
  padding-bottom: 20px;
}

.gia-product-1 {
  margin-top: 8px;
  zoom: 1;
}

.c30Om7 {
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 0 7px;
  text-align: left;
  color: #404040;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #ececec;
  transition: all 0.3s linear;
  min-width: auto;
  -moz-appearance: textfield;
}

.c1DHiF {
  float: left;
  width: 10px;
  text-align: center;
  line-height: 30px;
  color: gray;
}

.c3R9mX {
  float: left;
  height: 30px;
  padding: 0 7px;
  border-radius: 3px;
  outline: 0;
  margin-left: 4px;
}

.ant-btn-primary {
  color: #fff;
  background-color: #f57224;
  border-color: #f57224;
}

.box-sap-xep {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.03);
  padding: 0.8125rem 1.25rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sap-xep {
  color: #555;
  margin: 0 0.3125rem 0 0;
}

.sort-by-option {
  display: flex;
  align-items: stretch;
  flex: 1;
  justify-content: flex-start;
  border-radius: 5px;
}

.shopee-sort-by-options__option {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0 0.9375rem;
  background: #fff;
  white-space: nowrap;
  margin-left: 0.625rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.shopee-sort-by-options__option:hover {
  color: #28a745;
  border-color: #28a745;
}

.shopee-sort-by-options__option--selected {
  color: #fff !important;
  background: #28a745 !important;
}

.shopee-sort-by-options__option--selected:hover {
  color: #000 !important;
  background: #dee3e2 !important;
}

.select-sap-xep {
  display: block;
  margin-left: 22px;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.box-img-product-10 {
  margin: 0.3125rem 0;
  background: #fff;
  border: 1px solid #f7f5f5;
  box-shadow: #fff;
}

.box-img-product-100 {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
  background: #fff;
  position: relative;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

.box-img-product-1000 {
  overflow: visible;
  border: 1px solid transparent;
}

.box-img-100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.box-img-product-show {
  width: 100%;
  padding-top: 100%;
}

.box-tai-tro-product {
  position: absolute;
  right: 0;
  z-index: 1;
}

.box-tai-tro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0.75rem;
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap;
}

.box-text-product-10 {
  padding: 0.625rem;
  overflow: hidden;
}

._16BAGk {
  display: inline-block;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: inherit;
}

._1JBBaM,
._16BAGk {
  text-overflow: ellipsis;
  overflow: hidden;
}

.box-text-price-product-10 {
  padding: 0.3125rem 0 0;
  display: flex;
  height: 1.5rem;
  line-height: 1.5rem;
  align-items: center;
  overflow: hidden;
}

._37ge-4 {
  color: currentColor;
}

.QbH7Ig {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  margin-right: 5px;
}

.lwZ9D8 {
  font-size: 0.75rem;
  color: #ee4d2d;
}

._341bF0 {
  font-size: 1rem;
  color: #ee4d2d;
}

._2ZYSiu,
.U90Nhh {
  max-width: 100%;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

._2lBkmX {
  padding: 0.3125rem 0 0;
  display: flex;
  height: 1.5rem;
  line-height: 1.5rem;
  align-items: center;
  overflow: hidden;
}

._1gkBDw {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
  overflow: hidden;
  background: #fff;
  position: relative;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

.lwZ9D8 {
  font-size: 0.75rem;
  color: #ee4d2d;
}

._341bF0 {
  font-size: 1rem;
  color: #ee4d2d;
}

._2SsZMD {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.box-icon-product-10 {
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-size: 0.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.rating-stars {
  position: relative;
  display: inline-block;
}

.shopee-rating-stars {
  position: relative;
  display: inline-block;
}

.main-price {
  color: #7d7d7d;
  text-decoration: line-through;
}

.fixed-price {
  color: red;
}

div {
  display: block;
}

.rating-stars__stars {
  display: flex;
}

.shopee-rating-stars__star-wrapper {
  position: relative;
  margin-right: 1px;
}

.shopee-rating-stars__star-wrapper > .shopee-rating-stars__lit {
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.shopee-rating-stars__gold-star {
  color: #ffce3d;
  fill: #ffce3d;
  display: block;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}

.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.shopee-rating-stars__gold-star {
  color: #ffce3d;
  fill: #ffce3d;
  display: block;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}

svg:not(:root) {
  overflow: hidden;
}

.shopee-rating-stars__dark-star {
  color: #d5d5d5;
  display: block;
}

.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.product-box-footer {
  color: rgba(0, 0, 0, 0.87);
  margin-left: 0.3125rem;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-place-product-10 {
  margin-top: 0.3125rem;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.75rem;
  line-height: 0.875rem;
  min-height: 1em;
  text-align: right;
  font-weight: 200;
  padding-bottom: 10px;
  margin-right: 2px;
}

.cart-icon-wrapper {
  padding-top: 15px;
  text-align: center;
}

.box-img-product-10-hover {
  opacity: 0;
  position: absolute;
  left: -0.0625rem;
  top: calc(100% - .125rem);
  width: 86%;
  margin-left: 16px;
  background-color: #ee4d2d;
  color: #fff;
  text-align: center;
  line-height: 1.875rem;
  z-index: 1;
}

.box-img-product-10:hover {
  border: 1px solid #08a05c;
  border-bottom-left-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.box-img-product-10:hover .box-img-product-10-hover {
  opacity: 1;
}

.box-sap-xep-tag-product-10 {
  width: 100%;
  margin: 5px;
  padding: 5px 0;
  border-bottom: 1px solid #e1e1e1;
}

.new-tag-10-active {
  text-decoration: none !important;
  color: #28a745;
  border-bottom: 4px solid #dedede;
  margin-right: 10px;
}

.new-tag-10 {
  text-decoration: none !important;
  color: black;
  margin-right: 10px;
  transition: 0.5s;
}

.new-tag-10:hover {
  border-bottom: 4px solid #dedede;
  text-decoration: none;
  color: #28a745;
}

.box-slideshow {
  width: 100%;
}

.box-slideshow img {
  height: 650px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

.box-infor-product-detail {
  padding: 15px 0;
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.img-infor-product-detail {
  width: 75px;
  margin-top: 4px;
}

.name-product-detail {
  display: inline-block;
  margin-left: 11px;
  line-height: 18px;
  text-overflow: ellipsis;
  width: 78%;
}

.btn-product-detail {
  border-radius: 1.25rem;
  padding: 0.2rem 0.25rem;
}

.active-working {
  font-size: 18px;
  color: #9b9b9b;
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.active-working1 {
  font-size: 28px;
  color: green;
  line-height: 21px;
  margin-right: 5px;
  margin-top: 1px;
}

.style-infor-product-detail {
  width: 100%;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  /* justify-content: space-around; */
  padding-top: 10px;
  text-align: center;
  align-items: center;
  font-size: 12px;
}

.border-box-1 {
  border-left: 1px solid #cacaca;
  height: 20px;
  width: 1px;
}

.number-phone-product-detail {
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 10px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 13px;
  transition: background-color 200ms ease-in-out;
  color: #fff;
  background-color: #33a837;
}

.kKKDsS {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}

.number-phone-product-detail:hover {
  background-color: green;
}

.chat-product-detail {
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 8px 10px;
  line-height: 1.42857;
  border-radius: 4px;
  font-size: 13px;
  color: #3c763d;
  background-color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.chat-product-detail:hover {
  background-color: #e9e6e3;
}

.pay-product-detail {
  width: 100%;
  height: 42px;
  border: 1px solid #fe9900;
  border-radius: 3px;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 40px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}

.request-loan-icon {
  height: 20px;
  width: 24px;
  background-image: url(https://static.chotot.com/storage/C2C_CDN_PRODUCTION/f83cc593b572f0bc33be85363c12388e.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}

.powered-title-text {
  float: right;
  margin-right: 15px;
  color: #c91517;
}

.pull-left {
  float: left !important;
}

.gYDniF {
  font-size: 16px;
  text-align: left;
  font-style: italic;
  padding-top: 25px;
}

.guGpFY a {
  font-size: 13px;
  color: #fe9900 !important;
  margin-top: 5px;
  text-align: left;
}

.font-h1 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.font-price {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.box-logo {
  min-height: 40px;
  font-size: 12px;
  padding: 10px 10px;
}

.media:first-child {
  margin-top: 0;
}

.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}

.img-logo-product-detail {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.media-middle {
  vertical-align: middle;
}

.media-body,
.media-left,
.media-right {
  display: table-cell;
  vertical-align: top;
}

.col-md-6 {
  width: 50%;
  float: left;
}

.box-logo {
  min-height: 40px;
  font-size: 12px;
  padding: 10px 10px;
  width: 187px;
}

.font-h5-product-detail {
  color: #8f8297;
  border-bottom: #ebebeb solid 1px;
  padding-bottom: 5px;
}

.area-product-detail {
  background: url(https://static.chotot.com/storage/C2C_CDN_PRODUCTION/6a7bcfb1564aa74c9983381d2e5fd093.png) no-repeat;
  background-size: contain;
}

.icon-logo-area {
  display: inline-block;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

/* nhớ thêm card img vào css nha trong flash sale thiếu cái này  */

.card img {
  height: 210px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* cursor: pointer; */
}

.card-text {
  text-align: center;
  color: red;
  font-size: 15px;
}

.text-a {
  text-align: center;
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  display: block;
  /* padding: 0;
  margin-left: 20%;
  transform: translateX(-50%); */
}

.text-a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.text-carousel {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  bottom: -16px;
  text-align: right;
  width: 100%;
  padding: 4px;
  color: white;
}

.user-infor-box {
  box-sizing: border-box;
  border: 1px solid #afafaf52;
  height: 100%;
  padding: 15px;
}

.box-review-user-for-buyer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
}

.diem-tb-rating {
  width: 100%;
  padding-top: 35%;
  padding-bottom: 30%;
  text-align: center;
}

.averageRating {
  font-size: 40px;
  color: #fd9727;
  line-height: 40px;
  display: flex;
  width: 110px;
  margin: 13px auto;
}

.checked {
  color: orange;
}

.thongke {
  width: 100%;
  height: 150px;
  border-right: 1px solid #ddd;
  margin-top: 5px;
  padding: 8px;
}

.side {
  float: left;
  width: 10%;
}

.middle {
  float: left;
  width: 60%;
  padding-top: 7px;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
}

.bar {
  height: 13px;
}

.bar-5 {
  width: 100%;
  background-color: #f44336;
  border-radius: 20px;
}

.bar-4 {
  width: 70%;
  background-color: #f44336;
  border-radius: 20px;
}

.bar-3 {
  width: 50%;
  background-color: #f44336;
  border-radius: 20px;
}

.bar-2 {
  width: 30%;
  background-color: #f44336;
  border-radius: 20px;
}

.bar-1 {
  width: 10%;
  background-color: #f44336;
  border-radius: 20px;
}

.right {
  width: 20%;
  text-align: right;
}

.list-review {
  width: 100%;
}

.review-content {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.name-day-time {
  margin: 5px 0px;
}

.font-star-user-10 {
  width: 100%;
  padding: 15px;
  font-size: 15px;
}

.icon-user-100 {
  color: #9b9b9b;
  margin-right: 10px;
  font-size: 20px;
  margin: 5px 0;
}

.font-write-user {
  color: #9b9b9b;
  margin-left: 10px;
}

.font-write-user-10 {
  color: black;
  font-size: 20px;
}

.infor-user-img-10 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 15px;
}

.folow-user-20 {
  text-decoration: none !important;
  color: black;
}

.gach-duoi-tag-buy {
  border-bottom: 1px solid #9b9b9b;
  width: 100%;
  margin-top: 10px;
}

.gach-phai-tag-buy {
  border-right: 1px solid #9b9b9b;
  margin-left: 2px;
}

.box-show-product-user-sales {
  padding: 15px;
  width: 100%;
}

.buy-your-sellers-10 {
  width: 100%;
  height: 133px;
  margin-top: 10px;
  border-bottom: 1px solid #9b9b9b;
  position: relative;
  padding: 3px;
}

.buy-your-sellers {
  width: 130px;
  height: 110px;
  float: left;
}

.box-text-user-buyer {
  margin-left: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-user-buyer {
  color: red;
  font-size: 15px;
}

.last-time-user {
  position: absolute;
  top: 89px;
}

.last-time-user img {
  margin-top: 10px;
}

.color-grey-10 {
  color: #9b9b9b;
}

.box-xem-tat-ca {
  padding: 5px 0 20px 0;
  text-align: center;
  text-decoration: none !important;
}

.text-a-user {
  color: black !important;
}

.gcGtIn {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 9;
  height: 42px;
  line-height: 43px;
  top: -7px;
  right: -1px;
  font-size: 12px;
  /* transform: rotate(45deg); */
  padding: 0px 5px;
}

.arrow-up {
  width: 40px;
  /* height: 0px; */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 13px solid white;
  position: absolute;
  top: 24px;
  right: -4px;
  z-index: 9;
}

.box-tab-user-10 {
  width: 100%;
  padding: 15px;
}

.box-sold-buyers-10 {
  width: 100%;
  padding: 15px;
}

.box-duoc-tai-tro {
  position: absolute;
  top: 150px;
  left: 5px;
  color: white;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  opacity: 0.7;
}

.name-seller-newsp {
  margin: 5px 0;
  font-size: 12px;
  z-index: 1;
}

.font-star-user-10 {
  width: 100%;
  padding: 15px;
  font-size: 15px;
}

.icon-user-100 {
  color: #9b9b9b;
  margin-right: 10px;
  font-size: 20px;
  margin: 5px 0;
}

.font-write-user {
  color: #9b9b9b;
  margin-left: 10px;
}

.font-write-user-10 {
  color: black;
  font-size: 20px;
}

.infor-user-img-10 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 15px;
}

.folow-user-20 {
  text-decoration: none !important;
  color: black;
}

.gach-duoi-tag-buy {
  border-bottom: 1px solid #9b9b9b;
  width: 100%;
  margin-top: 10px;
}

.gach-phai-tag-buy {
  border-right: 1px solid #9b9b9b;
  margin-left: 2px;
}

.box-show-product-user-sales {
  padding: 15px;
  width: 100%;
}

.buy-your-sellers-10 {
  width: 100%;
  height: 133px;
  margin-top: 10px;
  border-bottom: 1px solid #9b9b9b;
  position: relative;
  padding: 3px;
}

.buy-your-sellers {
  width: 130px;
  height: 110px;
  float: left;
}

.box-text-user-buyer {
  margin-left: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-user-buyer {
  color: red;
  font-size: 15px;
}

.last-time-user {
  position: absolute;
  top: 89px;
}

.last-time-user img {
  margin-top: 10px;
}

.color-grey-10 {
  color: #9b9b9b;
}

.box-xem-tat-ca {
  padding: 5px 0 20px 0;
  text-align: center;
  text-decoration: none !important;
}

.text-a-user {
  color: black !important;
}

.gcGtIn {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 9;
  height: 42px;
  line-height: 43px;
  top: -7px;
  right: -1px;
  font-size: 12px;
  /* transform: rotate(45deg); */
  padding: 0px 5px;
}

.arrow-up {
  width: 40px;
  /* height: 0px; */
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 13px solid white;
  position: absolute;
  top: 24px;
  right: -4px;
  z-index: 9;
}

.box-tab-user-10 {
  width: 100%;
  padding: 15px;
}

.box-sold-buyers-10 {
  width: 100%;
  padding: 15px;
}

.form-login-user {
  padding: 15px;
  background: rgba(253, 236, 236, 0.85);
  border-radius: 10px;
}

.form-regist-user {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.nav-profile {
  width: 100%;
  padding: 5px;
}

.nav-profile a {
  color: unset;
}

.nav-profile:hover {
  background: #ececec;
  color: black;
}

.nav-profile-active {
  background: #ececec;
  color: black;
}

.new-add-addresses {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

.show-addresses-circle-check {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding: 15px;
}

.show-addresses {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding: 15px;
}

.nut-xoa {
  padding: 4px 8px;
  border: 1px solid transparent;
  color: red;
  background-color: #e6e5e3;
  border-radius: 5px;
  text-decoration: none;
}

.nut-xoa:hover {
  text-decoration: none;
  opacity: 0.7;
  color: red;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > label {
  display: inline-block;
  position: relative;
}

.rating > label.active:before,
.rating > label.active ~ label:before,
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  content: "\2605";
  color: #f3a83c;
  position: absolute;
}

.rating input {
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  color: #2f2e2e;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: #2f2e2e;
}

.box-img-new-product {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.premium-title {
  font-size: 10px;
  font-style: italic;
  color: #4d9ffa;
}

.content {
  padding: 16px;
}

.sticky {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 475px;
  position: fixed;
  top: 0;
  right: 142px;
}

.sticky + .content {
  padding-top: 102px;
}

